#panel {
    width: 310px;
    height: 340px;
    overflow: hidden;
}

.card {
    width: 60px;
    height: 80px;
    line-height: 80px;
    border: 1px solid silver;
    border-radius: 10px;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    box-shadow: red 2px 2px;
    background: blue;
    float: left;
    cursor: pointer;

}

.back {
    background-image: url("ing/back.png");
    background-size: 60px 80px;

}
.finish {
    opacity: 0;
    cursor: default;
}

.result {
    font-size: 1.2em;
    font-weight: bold;
}
